.callout {
  &[data-callout="objectif"] {
    --color: rgb(var(--callout-color));
    --border: rgb(var(--callout-color));
    --bg: rgba(var(--callout-color), 0.3);
    --callout-color: 155, 179, 197;
    --callout-icon: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 1024 1024"><path fill="currentColor" d="M631.634 512.948c0 65.255-52.706 120.471-120.471 120.471-65.255 0-120.471-52.706-120.471-120.471s52.706-120.471 120.471-120.471 120.471 52.706 120.471 120.471zM481.046 211.772h60.235c17.569 0 30.118 12.549 30.118 30.118v60.235c0 17.569-12.549 30.118-30.118 30.118h-60.235c-17.569 0-30.118-12.549-30.118-30.118V241.89c0-17.569 15.059-30.118 30.118-30.118zm240.941 240.941h60.235c17.569 0 30.118 12.549 30.118 30.118v60.235c0 17.569-12.549 30.118-30.118 30.118h-60.235c-17.569 0-30.118-12.549-30.118-30.118v-60.235c0-17.569 12.549-30.118 30.118-30.118zM481.046 691.144h60.235c17.569 0 30.118 12.549 30.118 30.118v60.235c0 17.569-12.549 30.118-30.118 30.118h-60.235c-17.569 0-30.118-12.549-30.118-30.118v-60.235c0-15.059 15.059-30.118 30.118-30.118zM242.614 452.713h60.235c17.569 0 30.118 12.549 30.118 30.118v60.235c0 17.569-12.549 30.118-30.118 30.118h-60.235c-17.569 0-30.118-12.549-30.118-30.118v-60.235c0-17.569 12.549-30.118 30.118-30.118zM511.163 32.627C245.124 32.627 31.79 248.47 31.79 512c0 266.039 215.843 479.373 479.373 479.373S990.536 775.53 990.536 512 777.203 32.627 511.163 32.627zm0 120.471c198.275 0 358.902 160.627 358.902 358.902S709.438 870.902 511.163 870.902 152.261 710.275 152.261 512s160.627-358.902 358.902-358.902z"></path></svg>');
  }
    &[data-callout="empty"] {
    --callout-icon: "" --color: transparent;
    --border: transparent;
    --bg: transparent;
    --display: none;
    & .callout-title {
      display: none;
    }
    width: 50px;
    padding: 5px;
  }
    &[data-callout="comment"] {
    --color: rgb(var(--callout-color));
    --border: rgb(var(--callout-color));
    --bg: rgba(var(--callout-color), 0.1);
    --callout-color: 12, 187, 184;
    --callout-icon: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle-more"><path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"/><path d="M8 12h.01"/><path d="M12 12h.01"/><path d="M16 12h.01"/></svg>');
  }  
    &[data-callout="yellowwarning"] { 
    --color: rgb(var(--callout-color));
    --border: rgb(var(--callout-color));
    --bg: rgba(var(--callout-color), 0.1);
    --callout-color: 224, 217, 0;
    --callout-icon: url('data:image/svg+xml; utf8, <svg aria-hidden=\"true\" focusable=\"false\" data-prefix=\"fas\" data-icon=\"exclamation\" class=\"svg-inline--fa fa-exclamation fa-w-6\" role=\"img\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 192 512\"><path fill=\"currentColor\" d=\"M176 432c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80zM25.26 25.199l13.6 272C39.499 309.972 50.041 320 62.83 320h66.34c12.789 0 23.331-10.028 23.97-22.801l13.6-272C167.425 11.49 156.496 0 142.77 0H49.23C35.504 0 24.575 11.49 25.26 25.199z\"></path></svg>'); 
  }
}

